<ion-header>
  <ion-toolbar>
    <ion-title>Status Bar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="testTapListener()">Test Tap Listener</ion-button>
  <ion-button (click)="testIosOverlay()">Test IOS Overlay</ion-button>
  <ion-button (click)="testDarkBar()">Test Dark Bar</ion-button>
  <ion-button (click)="testLightBar()">Test Light Bar</ion-button>
  <ion-button (click)="testHideBar()">Test Hide Bar</ion-button>
  <ion-button (click)="testShowBar()">Test Show Bar</ion-button>
</ion-content>
