<ion-header>
  <ion-toolbar>
    <ion-title>Haptics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="testImpactMedium()">Test Impact Medium</ion-button>
  <ion-button (click)="testImpactLight()">Test Impact Light</ion-button>
  <ion-button (click)="testVibrate()">Test Vibrate</ion-button>
  <ion-button (click)="testSelectionStart()">Test Selection Start</ion-button>
  <ion-button (click)="testSelectionChanged()">Test Selection Changed</ion-button>
  <ion-button (click)="testSelectionEnd()">Test Selection End</ion-button>
</ion-content>
